.App {
  text-align: center;
}

textarea {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 10px Arial;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex-d {
  display: flex;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-auto {
  flex: auto;
}

.h4 {
  font-size: 1.2rem;
}

.min-width-0 {
  min-width: 0!important;
}

.text-grey {
  color: grey;
}

.text-small {
  font-size: 0.8rem!important;
}

.box-row {
  padding: 10px;
  margin-top: -1px;
  list-style-type: none;
  border-top: 1px solid grey;
}

.position-relative {
  position: relative;
}

.no-wrap {
  white-space: nowrap!important;
}

.p-0 {
  padding: 0px!important;
}

.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 16px;
}

.pl-0 {
  padding-left: 0px!important;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 16px;
}

.pr-0 {
  padding-right: 0px!important;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 16px;
}

.pt-0 {
  padding-top: 0px!important;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 16px;
}

.pb-0 {
  padding-bottom: 0px!important;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 16px;
}

.border {
  border: 2px solid;
  border-color: #DDD;
}

.rounded-1 {
  border-radius: 6px!important;
}

.rounded-2 {
  border-radius: 10px!important;
}

.rounded-3 {
  border-radius: 16px!important;
}

.m-0 {
  margin: 0px!important;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.m-3 {
  margin: 16px;
}

.ml-0 {
  margin-left: 0px!important;
}

.ml-1 {
  margin-left: 4px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 16px;
}

.mr-0 {
  margin-right: 0px!important;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 16px;
}

.mt-0 {
  margin-top: 0px!important;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mb-0 {
  margin-bottom: 0px!important;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.block {
  display: block;
}

.ticket-form-title {
  width: 100%;
  font: 400 30px Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ticket-form-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 200px;
  min-height: 200px;
  max-height: 500px;
  display: block;
  width: 100%;
  padding: 8px;
  resize: vertical;
  overflow: auto;
}
